section {
    margin-top: 160px;

    .container-about {
        display: flex;
        flex-direction: row;
        gap: 60px;

        .container-carousel {
            flex: 1;
        }

        .container-description {
            flex: 1;

            h1 {
                margin-bottom: 20px;
                font-weight: 500;
                color: #000000;
            }

            p {
                text-align: justify;
            }
        }
    }
}