<section >
    <div class="container-servicos">
        <h1>Serviços</h1>
        <div class="container-cards">
            <app-card 
                title=Computadores
                titleColor="#BDFF00"
                backgroundColor="#393338"
                image="/assets/images/computer.png"
                [descriptions]="['Reparo', 'Formatação', 'Upgrade']"
            />
            <app-card
                title=Impressoras
                titleColor="#00DBF9"
                backgroundColor="#393338"
                image="/assets/images/printer.png"
                [descriptions]="['Desentupimento', 'Conserto', 'Limpeza']"
            />
            <app-card
                title=Monitores
                titleColor="#FFDC26"
                backgroundColor="#393338"
                image="/assets/images/monitor.png"
                [descriptions]="['Reparo', 'Venda de usados', 'Lorem ipsum']"
            />
        </div>
    </div>
</section>

<!-- backgroundColor impressora: #452732 -->
<!-- backgroundColor computador: #2E2C94 -->