<section                 
    data-aos="fade-in" 
    data-aos-duration="500" 
>
    <div class="container-servicos">
        <h1>Nossos serviços</h1>
        <div class="container-cards">
            <app-card 
                data-aos="zoom-in" 
                data-aos-duration="1000" 
                title=Computadores
                titleColor="#BDFF00"
                backgroundColor="#181332"
                image="/assets/images/computer.png"
                [descriptions]="['Reparo', 'Formatação', 'Upgrade']"
            />
            <app-card
                data-aos="zoom-in" 
                data-aos-duration="1000" 
                title=Impressoras
                titleColor="#00DBF9"
                backgroundColor="#181332" 
                image="/assets/images/printer.png"
                [descriptions]="['Desentupimento', 'Conserto', 'Limpeza']"
            />
            <app-card
                data-aos="zoom-in" 
                data-aos-duration="1000" 
                title=Monitores
                titleColor="#FFDC26"
                backgroundColor="#181332"
                image="/assets/images/monitor.png"
                [descriptions]="['Reparo', 'Venda de usados', 'Lorem ipsum']"
            />
            <!-- backgroundColor="#161636" -->
        </div>
    </div>
</section>
<app-divisoria/>

<!-- backgroundColor impressora: #452732 -->
<!-- backgroundColor computador: #2E2C94 -->