<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img
                src="https://mdbootstrap.com/img/Photos/Slides/img%20(23).webp"
                class="d-block w-100"
                alt="..."
            />
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img
                src="https://mdbootstrap.com/img/Photos/Slides/img%20(22).webp"
                class="d-block w-100"
                alt="..."
            />
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img
                src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).webp"
                class="d-block w-100"
                alt="..."
            />
        </div>
    </ng-template>
</ngb-carousel>