<!-- <app-header></app-header>
<app-carousel ></app-carousel>
<app-about></app-about>
<app-servicos></app-servicos>
<app-faq></app-faq>
<app-contato-maps></app-contato-maps>
<app-rodape></app-rodape>

<div class="container-whatsapp">
    <p>Entre em contato</p>
    <a target="_blank" href="https://api.whatsapp.com/send?phone=11991874978&text=Olá, estou entrando em contato através do site.">
        <img src="/assets/images/whatsapp.png"/>
    </a>
</div>
 -->

 <app-em-construcao></app-em-construcao>