<footer>
    <div class="container container-info">
        <div class="box">
            <img src="/assets/images/logos/clock.png" alt="">
            <p>Segunda à Sexta 09-18h / Sabádo 09-13h</p>
        </div>

        <div class="box">
            <img src="/assets/images/logos/address.png" alt="">
            <p>Avenida Doutor Eduardo Cotching, 1119 - SP</p>
        </div>

        <div class="box">
            <img src="/assets/images/logos/phone.png" alt="">
            <p>2673-0545</p>
        </div>

        <a target="_blank" href="https://api.whatsapp.com/send?phone=11991874978&text=Olá, estou entrando em contato através do site.">
            <div class="box box-whats">
                <img src="/assets/images/logos/whatsapp.png" alt="">
                <p>+55 11 99187-4978</p>
            </div>
        </a>
    </div>
</footer>
<div class="container-feito-por">
    <p>Feito por Matheus Ferro</p>
</div>
