<footer>
    <div class="container container-info">
        <div class="box">
            <img src="/assets/images/logos/clock.png" alt="">
            <p>Segunda à Sexta 09-18h / Sabádo 09-13h</p>
        </div>

        <div class="box">
            <img src="/assets/images/logos/address.png" alt="">
            <p>Avenida Doutor Eduardo Cotching, 1119 - SP</p>
        </div>

        <div class="box">
            <img src="/assets/images/logos/phone.png" alt="">
            <p>+55 11 97600-5294</p>
        </div>

        <div class="box box-whats">
            <img src="/assets/images/logos/whatsapp.png" alt="">
            <p>+55 11 97600-5294</p>
        </div>
    </div>
</footer>
<div class="container-feito-por">
    <p>Feito por Matheus Ferro</p>
</div>
