<section class="contato">
    <h1>Contato</h1>
    <form [formGroup]=formGroup>
        <input type="text" formControlName="name" placeholder="Nome" />
        <input type="email" formControlName="email" placeholder="E-mail" />
        <input type="number" formControlName="phoneNumber" placeholder="Número do celular" />
        <textarea name=""  formControlName="subject" id="" cols="30" rows="12" maxRows="" maxlength="300" placeholder="Assunto"></textarea>
        
        <button class="send-email-button" (click)="send()">Enviar</button>

    </form>
    <img src="https://goo.gl/maps/NHzH7zrzJwH12DLi9" alt="">
</section>
